.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: #12396f;
  margin-top: 26px;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: #12396f;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}
